/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}
a{
    text-decoration: none;
    color: inherit;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


[class*=__container]{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0px 15px;
}
/*=======================================================================THE MAIN=====================================================================================*/

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: #525665;
    font-family: 'Mulish', sans-serif;
  }

.wrapper{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    min-height: 140px;
    padding-top: 55px;
    margin-bottom: 163px;
  }
.main{
    flex: 1 1 auto;

}
.tell{

}
.home {
}
.additional__info{
  margin: 40px 0 110px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fraunces';
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #242F65;
}
.case {
  background-color: #EDF0F9;
  padding: 120px 0 0 0;
}
.supportive {
  padding: 120px 0 0 0;
}
.utility {
  background: #2A2C32;
  padding: 120px 0 0 0;
}
.get-started {
  padding: 120px 0 0 0;
  margin-bottom: 100px;
}
.footer{
  background: url(image/decorate02.jpg) center/cover no-repeat;
  padding: 120px 0 0 0;

}
/*============================================================================HEADER================================================================================*/
.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.header__logo {
}
.logo__link {
}
.header__menu {
    display: flex;
    gap: 82px;
    justify-content: flex-end;
    flex: 1 1 auto;
}
.menu {
}
.menu__items {
}
.menu__item {
}
.menu__link {
}
/*============================================================================TELL================================================================================*/
.tell__container {
  background:url(image/decorate.jpg)center/cover no-repeat;
  max-width: 100%;
  border-radius: 15px;
  padding: 136px;
  margin-bottom: 120px;
}
.tell__decorate {
}
.tell__body{
}
.tell__information {

}
.information {
}
.information__title {
  text-align: center;
  color: #242F65;
  font-family: 'Fraunces', serif;
  font-size: 100px;
  line-height: 130%;
  margin-bottom: 10px;
}
.information__title span{
  color: coral;
}
.information__subtitle {
  position: relative;
  left: 50%;
  transform: translate(-50%,0px);
  width: 500px;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-bottom: 25px;
}
.tell__buttons {
  
}
.buttons {
}
.buttons__items {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.button__item {
  box-sizing: border-box;
  background: #FF774C;
  border: 1px solid #FF774C;
  border-radius: 10px;
  margin-bottom: 56px;
}
.button-blue{
  background-color: #7390F9;
  border: 1px solid #7390F9;
}
.button__link {
  display: inline-block;
  padding: 21px 71px 21px 71px;
  font-family: 'Mulish';
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

.tell__scroll {
}
.scroll {
  position: relative;
}
.scroll__arrow{
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll__text {
  padding: 0 0 20px 0;
  text-align: center;
  color: #242F65;
  font-size: 24px;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.4px;
}
/*============================================================================HOME================================================================================*/

.home__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__title {
  font-family: 'Fraunces';
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-bottom: 10px;
}
.home__subtitle {
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #525665;
  margin-bottom: 60px;
}
.body__ux{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fraunces';
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.4px;
  color: #242F65;
  margin: 40px 0 110px 0;
}
.body__ui{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fraunces';
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.4px;
  color: #242F65;
  margin: 40px 0 110px 0;
}

.home__body {
  display: flex;
  gap: 30px;
}
.body {
}
.body_picture {
  flex: 0 1 50%;
}
/*============================================================================CASE================================================================================*/
.case__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case__title {
  font-family: 'Fraunces';
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-bottom: 10px;
}
.case__subtitle {
  margin-bottom: 60px;
  font-family: 'Mulish';
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #525665;
}
.case__body {
  display: flex;
  gap: 30px;
}
.body {
}
.body__picture {
  flex: 0 1 50%;

}
.additional__info{
  margin: 40px 0 110px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fraunces';
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #242F65;
}
/*============================================================================SUPPORTIVE================================================================================*/
.supportive__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.supportive__title {
  font-family: 'Fraunces';
  line-height: 140%;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-bottom: 10px;
}
.supportive__subtitle {
  font-family: 'Mulish';
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #525665;
  margin-bottom: 60px;
}
.supportive__body {
  display: flex;
  flex-wrap: wrap;
}
.supportive__item {
  flex: 0 1 50%;
}
/*============================================================================UTILITY================================================================================*/

.utility {
  background: #2A2C32;
  padding: 120px 0 0 0;
}
.utility__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.utility__title {
  font-family: 'Fraunces';
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.utility__subtitle {
  font-family: 'Mulish';
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 60px;
}
.utility__body {
  display: flex;
  flex-wrap: wrap;
}
.utility__item {
  flex: 0 1 50%;
}
.utility__item .additional__info {
  color: #fff;
}
/*============================================================================GET-STARTED================================================================================*/
.get-started__container {
  padding: 120px 60px 0 60px;
  display: flex;
  background: url(image/decorate.jpg) center/cover no-repeat;
  border-radius: 20px;
}
.get__started__background {
}
.get__started__decorated {
  flex: 0 1 50%;
  margin-bottom: 40px;
}
.get-started__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 0 1 50%;
}
.get-started__title {
  font-family: 'Fraunces';
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-bottom: 10px;
}
.get-started__subtitle {
  max-width: 513px;
  font-family: 'Mulish';
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.4px;
  color: #525665;
  margin-bottom: 40px;
}
.get-started__button {
}
.button {
}
.button__item {
}
.button__link {
}

/*============================================================================FOOTER================================================================================*/
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  margin-bottom: 10px;
}
.footer__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  font-family: 'Fraunces';
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-bottom: 150px;
}
.footer__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.footer__menu {
  flex: 0 1 40%;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px
}
.footer__item {
  flex: 1 1 33.333%;
  font-family: 'Fraunces';
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.4px;
  color: #242F65;
}
.footer__link {
}
.footer__button {
  padding: 0 30px 0 30px;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 60%;
  height: 116px;
  background: #FFFFFF;
  border-radius: 20px;
}
.footer__text {
  font-family: 'Fraunces';
  font-size: 24px;
  padding: 0 10px 0 10px;
  line-height: 150%;
  letter-spacing: 0.4px;
  color: #242F65;
}
.footer__click {
  background: #242F65;
  border: 1px solid #242F65;
  border-radius: 10px;
  width: 280px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.click {
}
.click__button {
  margin-right: 15px;
}
.click__info {
  display: flex;
  font-family: 'Mulish';
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.footer__more{
  text-align: center;
}
/*==========================================================================MEDIA-REQUESTS==================================================================================*/
@media (max-width:1087px) {

}
@media (max-width:991.98px) {
  .header{
    margin-bottom: 40px;
  }
  .header__menu{
    gap: 65px;
  }
  .information__title{
    font-size: 70px;
  }
  .button__link{
    padding: 21px 54px 21px 54px;
  }
  .get-started__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .get-started__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .get-started__subtitle{
    width: 300px;
  }
  .footer__menu {
    text-align: center;
    margin-bottom: 40px;
    flex: 1 1 100%;
  }
  .footer__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
  }
  .footer__button {
    flex-wrap: wrap;
  }
  .footer__button {
    padding: 0px 30px 30px 30px;
  }
}
@media (max-width:767.98px) {
  [class*="__container"] {
    max-width: none;
  }
  .tell__container{
    padding: 75px;
  }
  .header__menu{
    gap: 50px;
  }
  .information__title{
    font-size: 65px;
    line-height: 110%;
  }
  .home__body {
    display: flex;
    flex-wrap: wrap;
  }
  .body {
  }
  .body_picture {
    flex: 1 1 100%;
  }
  .additional__info{
    margin: 40px 0 40px 0;
  }
  .case__body {
    display: flex;
    flex-wrap: wrap;
  }
  .body__picture {
    flex: 1 1 100%;
  
  }
  .case{
    padding: 60px 0 0 0 ;
  }
  .body__picture-web{
    margin: 40px 0 40px 0;
  }
  .body__picture-mobile{
    margin: 40px 0 40px 0;
  }
  .supportive__item {
    flex: 1 1 100%;
  }
  .utility__item {
    flex: 1 1 100%;
  }
}
@media (max-width: 668.98px){
  .header__menu{
    gap: 15px;
  }
  .button__link{
    padding: 10px 45px 10px 45px;
  }
  .tell__container {
    padding: 60px;
  }
  .footer__button{
    background: none;
  }
  .footer__text{
    background-color: #Fff;
    border-radius: 15px;
    opacity: 0.7;
  }

}
@media (max-width: 569.98px){
  .header{
    padding-top: 15px;
  }
  .header__logo{
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .header__menu {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
  }
  .tell__container{
    padding: 10px;
  }
  .information__subtitle{
    width: 350px;
    font-size: 18px;
  }
  .footer__title{
    margin-bottom: 75px;
  }
  
}
@media (max-width: 479.98px){
  .information__title{
    font-size: 44px;
  }
  .information__subtitle{
    width: 283px;
  }
  .button__link{
    padding: 4px 30px 4px 30px;
  }
  .case {
    padding: 60px 0 0 0;
  }
  .case__title{
    font-size: 30px;
  }
  .body__picture-mobile{
    padding: 40px 0 40px 0;
  }
  .case{
    padding: 60px 0 0 0 ;
  }
  .supportive{
    padding: 60px 0 0 0;
  }
  .utility{
    padding: 60px 0 0 0;
  }
  .get-started{
    padding: 60px 0 0 0;
  }
  .get-started__container{
    padding: 60px 0 0 0;
  }
  .footer{
    padding: 60px 0 0 0;
  }
  .footer__item {
    flex: 1 1 100%;
  }
}
@media (max-width: 319.98px){
  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
  }
  .information__title{
    font-size: 30px;
  }
  .information__subtitle{
    width: 180px;
  }
  .button__link{
    padding: 4px 15px 4px 15px;
  }
  .scroll__text{
    padding: 0 0 200px 0;
  }
  .case__title{
    font-size: 30px;
  }
  .get-started__title{
    font-size: 30px;
  }
  .get-started__subtitle{
  width: 220px;
  }
}
/*============================================================================================================================================================*/